# Ignore bundler config
/.bundle

# Ignore build
/build

# Ignore articles
/source/articles

# Ignore Sass' cache
/.sass-cache

# Ignore the Gemfile lock
/Gemfile.lock

# OS X Files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes