<% wrap_layout :layout do %>
  <article>
    
    <% if current_page.date %>
    
    <div class="notice">
        
        <p>NB. This article was originally published on the previous version of this site.</p>
        
    </div>
    
    <% end %>
    
    <h1><%= current_page.title %></h1>
    
    <%= yield %>
    
    <time><%= current_page.date.strftime('%A, %e %B %Y') %></a></time>
    
  </article>
<% end %>